
{% extends 'layout.html' %}

{% block content %}
<div class="col-md-6 offset-md-3 mt-4">
    <h2>Choose Your Plan</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="plan_id"><h5>Plan</h5></label>
            <select id="plan_id" name="plan_id" class="form-control">
                <option value="{{ SETTINGS.STRIPE_PLAN_BASIC_MONTHLY }}">Basic</option>
                <option value="{{ settings.STRIPE_PLAN_PREMIUM_MONTHLY }}">Premium</option>
                <option value="{{ settings.STRIPE_PLAN_ENTERPRISE_MONTHLY }}">Business</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Subscribe</button>
    </form>
</div>
{% endblock %}
